:root{
    --bg: #e0e0e0;
    --text: #000;
    --light-text: #f5f5f5;
    --default-text: 1.7rem;
}
     
@font-face {
    font-family: 'sans-serif';
    src: url('assets/fonts/nm5.woff2') format('woff2');
}

@font-face {
    font-family: 'sans-serif light';
    src: url('assets/fonts/nm5.woff2') format('woff2');
}

@font-face {
    font-family: 'sans-serif lighter';
    src: url('assets/fonts/nm4.woff2') format('woff2');
}

@font-face {
    font-family: 'serif';
    src: url('assets/fonts/tn5.woff2') format('woff2');
}


html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
  


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

  .tint{
    opacity: 0.05;
    background: #514e00;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    z-index: 999999999999;
  }
            
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }

html {
    margin: 0;
    padding: 0;
    font-family: 'sans-serif';
    background-color: var(--bg);
    color: var(--text);
    font-size: calc(100vw / 1512 * 10);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


body {
  font-size: 1.7rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  width: 100vw;
  height: 100vh; 
  overscroll-behavior: contain;  
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

}
        
#ios-scrolling {
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  behavior: smooth;
  overflow-y: auto;
}

::-webkit-scrollbar{
    width: 0;
  }
      

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.first{
    height: 110vh;
    width: 100vw;
    overflow: hidden;
    filter: grayscale();
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav{
    position: absolute;
    top: 4rem;
    right: 4rem;
    color: var(--bg);
    z-index: 9;
    opacity: 0.8;
    display: flex;
    gap: 0.9rem;
}

.arrow-down{
    font-size: 7rem;
    position: absolute;
    left: 4rem;
    bottom: 4rem;
    color: var(--bg);
    opacity: 0.9;
}

.first img{
    opacity: 0.8;
}

.logo{
    z-index: 9;
}

.logo svg{
    width: 80rem;
    height: 80rem;

}

.copy-bottom{
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    z-index: 9;
    display: flex;
    gap: 0.9rem;
}

.copy-bottom p{
  cursor: pointer;
}

.in-first{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    filter: grayscale();
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    top: 0;
}

.box{
    height: 45rem;
    width: 40rem;
    background: var(--bg);
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box .intro{
    position: absolute;
    top: 10rem;
}

.box .intro p{
    font-size: 6rem;
}


.box .intro span{
    font-family: 'serif';
    font-size: 9.5rem;
}


.first img{
    position: absolute;
    opacity: 0.9;
}

.second{
    background: var(--bg);
    height: 105rem;
    width: 100vw;
    overflow: hidden;
    z-index: 100;
    opacity: 1;
}



.boring-texts{
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--bg);
}

.boring-text{
    position: absolute;
    right: 4rem;
}

.boring-text p{
    width: 25rem;
    text-align: justify;
}

.turn-dark{
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index: 9;
    background: #1b1b1b;
}

.fade-in{
    opacity: 1;

    animation: fadeIn 0s ease forwards;
  }
  
  
  @keyframes fadeIn {
    0% {
        opacity: 1;
    
    }

  
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
  }
  

.mini{
    position: absolute;
    bottom: 9rem;
    font-size: 1.2rem;
    width: 12rem;
}

.mini p{
    text-align: center;
    font-family: 'serif';
}

.location-mini{
    font-size: 1rem;
    text-transform: uppercase;
    position: absolute;
    top: 10rem;
}

.location-mini2{
    font-size: 0.9rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 3.3rem;
}

.bottom {
    position: relative;
    background: var(--bg);
    height: 105vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg path {
    stroke: #000; 
    stroke-width: 2; 
    fill: #000; 
    fill-opacity: 0;
    stroke-linecap: round;
    stroke-linejoin: round; 
}

.spacer{
    height: 10rem;
    background: var(--bg);
}

.spacer-mini{
  height: 8rem;
}

.featured-header{
    height: 45rem;
    width: 100%;
    font-size: 12rem;
    display: flex;
    align-items: center;
    position: relative;
    background: var(--bg);
}

.featured{
    position: absolute;
    left: 8rem;
}

.featured span{
    font-family: 'serif';
    font-size: 15.5rem;
}

.show-clothes{
    height: fit-content;
    width: calc(100vw);
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    gap: 3rem;
    background: var(--bg);
}


.colorize{
    height: 100%;
    width: 100%;
    background: var(--bg);
}

.s-c{
    height: 100%;
    width: calc((100% / 3) - 1.5rem );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.c-i{
    height: 48rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cfcfcf;
    overflow: hidden;
}

.d-c{
    height: 4.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg);
    font-size: 1.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.item-name{
    color: #000;
}

.item-price{
    font-family: 'serif';
}

.parallaxy{
    height: 120rem;
    width: calc(100vw - 8rem);
    margin-left: 4rem;
    overflow: hidden;
    position: relative;
    filter: grayscale();
    background: #1b1b1b;
}

.parallaxy img{
    height: 128%;
    position: absolute;
    top: -28%;
    opacity: 0.8;
}

/* catalogue */
.catalogue-header{
    height: 45rem;
    width: 100%;
    font-size: 12rem;
    display: flex;
    align-items: center;
    position: relative;
    background: var(--bg);
}


.catalogue-statement{
    position: absolute;
    left: 4rem;
}

.catalogue-statement span{
    font-family: 'serif';
    font-size: 22.5rem;
}

.catalogue-header .nav{
    color: var(--text);
    font-size: var(--default-text);
    opacity: 1;
    position: fixed;
}

.jizz{
    color: var(--text);
    font-size: var(--default-text);
    opacity: 1;
    position: fixed;
}


.search-stuff{
    height: 6rem;
    width: calc(100vw - 8rem);
    margin-left: 4rem;
    display: flex;
    align-items: center;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
}

.search-bar {
    position: absolute;
    left: 4rem;
}

.search-bar input{
    width: 100vw;
}

input {
    all: unset;
    box-sizing: border-box; 
    appearance: none; 
  }
  
  input::placeholder {
    color: var(--text);
    opacity: 0.7; 
  }

  .sorting-stuff{
    height: 9rem;
    width: calc(100vw - 8rem);
    margin-left: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
  .dropdown {
    position: relative;
  }
  
  .dropdown-label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  
  .label-text {
    color: var(--text);
  }
  
  select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  

  .l-o{
    opacity: 0.5; 
    padding-top: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .catalogue-grid{
    height: fit-content;
    width: calc(100vw);
    padding-left: 4rem;
    padding-right: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .catalogue-item {
    height: 48rem;
    width: calc((100% / 3) - 1.5rem );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }



  /* cart */


  .total span{
    font-family: 'serif';
  }

  .cart-items{
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 2rem;
  }

  .cart-item{
    height: 14rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
  }


  .cart-item-img{
    height: 10rem;
    width: 10rem;
    background: #cfcfcf;
  }

  .about-the-cart{
    width: fit-content;
    height: 10rem;
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .cart-item-text{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  .cart-item-name{
    font-size: 1.2rem;
    opacity: 0.5;
  }


  .cart-item-quantity{
    font-size: 1.5rem;
  }

  .cart-item-price{
    font-family: 'serif';
  }


  .proceed-to-checkout-box{
    position: fixed;
    bottom: 0;
    right: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    width: 25rem;
    background: #cfcfcf;
    color: var(--text);
    cursor: pointer;
  }

/* product-page */


.back-button{
  position: fixed;
  left: 4rem;
  top: 4rem;
  font-size: 2rem;
  z-index: 9;
}

.back-button-spacer{
  height: 8rem;
  width: 100vw;

}

.product-pics{
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 67.8rem;
  margin-left: 4rem;
  position: relative;
  filter: grayscale(30%);
}

.product-pics img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.product-pic{
  height: 67.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cfcfcf;
}

.fixed-right {
  position: fixed;
  top: 8.5rem;
  right: 4rem;
  height: calc(100vh - 12.5rem);
  width: calc(50vw - 4.5rem);
}

.flexed-about{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.absolute-no{
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 9rem;
  color: #1b1b1b;
}

.product-name{
  font-size: 2rem;
}

.product-desc{
  font-size: 1.3rem;
  width: 30rem;
}

.flexed{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  position: relative;
  height: fit-content;
}


.word{
  font-size: 1.5rem;
}



.wrapper{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  position: relative;
  height: fit-content;
  align-items: center;
}

.boss{
  height: fit-content;
  width: fit-content;
  display: flex;
  gap: 1.3rem;
}

.nav p{
    cursor: pointer;
}

.color-box{
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.15rem;
  cursor: pointer;
}

.color-box-inner{
  width: 100%;
  height: 100%;
  border-radius: 50%; 
}

.sizes-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 6rem;
  font-size: 1.3rem;
  border: 1px dashed #333;
  cursor: pointer;
}
.color-name{
  font-size: 1.1rem;
}

.adjust-quantity{
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.quantity-box{
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

input.number::-webkit-outer-spin-button,
input.number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


.disabled {
  color: grey;
  pointer-events: none;
}

.price-word{
  position: absolute;
  bottom: 0;
  font-family: 'serif';
}

.arrow{
  cursor: pointer;
}

.number{
  border-bottom: 1px dashed #333;
  width: 3rem;
  text-align: center;
}

.cart-word p {
  width: fit-content;
  padding-bottom: 0.45rem;
  position: relative;
  cursor: pointer; 
}

.cart-word p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #333;
  transition: width 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cart-word p:hover::after {
  width: 0%;
}